@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');


  body {
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Encode Sans", sans-serif;
}


   .flashcard {
    position: relative;
    background: rgba(4, 61, 0, 0.75);
    color: #fff;
    padding: 12px 16px;
    border-radius: 8px;
    min-width: 220px;
    box-shadow: 0 4px 10px rgba(8, 60, 0, 0.514);
    z-index: 0;
  }

  /* Borda com cantos arredondados UAUAUAUAU*/
  .flashcard::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 1px; /* espessura da borda */

  }

   h1 {
    
    color: white;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 20px;
   }